
.bg-color {
    background-color: black;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    margin: 0 auto;
}
.list-item{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
.list-item li{
    padding-left: 20px;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
button{
    padding: 20px 30px 20px 30px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}
.text-center {
    text-align: center;
    text-decoration: underline;
}
.about-me {
    width: 1250px;
    margin: 0 auto;
}
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.description {
    font-size: 20px;
    line-height: 1.5rem;
}
.projects-section{
    width: 1250px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.project-header {
    text-align: center;
    text-decoration: underline;
}
.projects {
    display: flex;
    justify-content: space-evenly;
}
.projectOne {
    height: 300px;
    width: 300px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}
.projectOne h3{
    color: maroon;
    font-weight: bold;
    font-size: 25px;
}
.paragraph {
    color: black;
    font-size: 18px;
}
.projectOne:hover{
    background-color: antiquewhite;
    transition: 0.5s;
}
.contact-me {
    text-align: center;
    width: 1250px;
    margin: 0 auto;
}
input{
    width: 450px;
    height: 50px;
    background-color: aqua;
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
}
.textarea{
    height: 200px;
    width: 450px;
}